.confirm--container {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    z-index: 100;

	.confirm {
		margin-top: 20rem;
		display: inline-block;
		background: white;
		border: grey;
		padding: 8rem;
		border: 1px solid black;
	}
}