.dashmessage {
	display: block;
	padding: .5rem 0;
    margin: .2rem 0;
	background: rgba(255,0,0,0.1);
	border: 1px solid rgba(255,0,0,0.2);
	.dashmessage--delete {
		cursor: pointer;
		padding: .5rem 1rem;
		background: rgba(255,0,0,0.5);
		border-radius: .4rem;
		color: white;
		font-weight: 600;
		font-size: 2rem;
	}
	.dashmessage--message {
		font-size: 1.6rem;
		padding: 0 2rem;
		font-weight: 500;
		a {
			color: black;
		}
	}
}
	
.dashboard--item {
	display: flex;
	flex-flow: column nowrap;
	border: $bordergrey;
	background: white;
	margin: 2rem 0;
	padding: 1.5rem 0;
	height: 18rem;

	.dashboard--item--head {
		color: $themecolor;
		text-transform: uppercase;
		font-weight: 800;
		padding: 0 2rem;
	}

	.dashboard--item--body {
		height: 14rem;
		overflow: hidden;
		padding: 0 2rem;
		img {
			display: block;
			height: 100%;
			margin: 0 auto;
		}
	}
}

.dashboard--item--doubleheight {
	height: 38rem;
}

.dashboard--item--doubleheight {
	.dashboard--item--body {
		height: 100%;
	}
}

.dashboard--item--groups {
	background: white url("/img/aantafel.svg"); 
	background-repeat: no-repeat;
	background-size: auto 80%;
	background-position: center; 
	.row {
		background: rgba(255,255,255,0.8)
	}
}