nav.navbar {
	margin-bottom: 0;
	border-bottom: 0;
	background: rgba(253, 244, 243, 0.6196078431372549);
	box-shadow: 0px 1px 8px rgba(0,0,0,0.2);
}

.banner {
	background: white url("/img/banner-welcome.jpg") center;
	.container--banner{
		position: relative;
		height: 480px;
		.curve {
			position: absolute;
			top: 0;
			left: -45%;
			background-image: url(/img/curve.png);
			background-position: top right;
			background-repeat: no-repeat;
			background-size: cover;
			height: 480px;
			width: 870px;
			// display: none;
			// z-index: -1;
		}
		.siteinfo {
			img {
				position: absolute;
				top: 20px;
				width: 200px;
			}
		}
	}
}