.vjs-poster {
	background-color: white !important;
}

.vjs-big-play-button {
	display: none !important;
}

.video-js {
    width: 100%;
    height: auto;
}

.youtube--container {
	text-align: center;
	iframe {
		margin: 0 auto;
	} 
}